function Bullet.new 0
	push constant 3
	call Memory.alloc 1
	pop pointer 0
	push argument 1
	pop this 0
	push argument 2
	pop this 1
	push argument 3
	pop this 2
	push argument 0
	call Bullet.draw 1
	pop temp 0
	return
function Bullet.dispose 1
	push argument 0
	pop pointer 0
	push constant -1
	call Screen.setColor 1
	pop temp 0
	push this 0
	push this 1
	push this 0
	push this 2
	add
	push this 1
	push this 2
	add
	call Screen.drawRectangle 4
	pop temp 0
	push constant 1
	call Screen.setColor 1
	pop temp 0
	call Memory.deAlloc 1
	pop temp 0
	push constant 0
	return
function Bullet.gone 1
	push argument 0
	pop pointer 0
	push this 1
	push constant 0
	gt
	not
	if-goto Bullet_0
	push constant -1
	return
label Bullet_0
	push constant 1
	return
function Bullet.getX 1
	push argument 0
	pop pointer 0
	push this 0
	return
function Bullet.getY 1
	push argument 0
	pop pointer 0
	push this 1
	return
function Bullet.moveUp 1
	push argument 0
	pop pointer 0
	push this 1
	push constant 1
	gt
	not
	if-goto Bullet_2
	push constant -1
	call Screen.setColor 1
	pop temp 0
	push this 0
	push this 1
	push this 2
	add
	push constant 1
	sub
	push this 0
	push this 2
	add
	push this 1
	push this 2
	add
	call Screen.drawRectangle 4
	pop temp 0
	push this 1
	push constant 2
	sub
	pop this 1
	push constant 1
	call Screen.setColor 1
	pop temp 0
	push this 0
	push this 1
	push this 0
	push this 2
	add
	push this 1
	push constant 1
	add
	call Screen.drawRectangle 4
	pop temp 0
	goto Bullet_3
label Bullet_2
	push constant 0
	pop this 1
label Bullet_3
	push constant 0
	return
function Bullet.draw 1
	push argument 0
	pop pointer 0
	push constant 1
	call Screen.setColor 1
	pop temp 0
	push this 0
	push this 1
	push this 0
	push this 2
	add
	push this 1
	push this 2
	add
	call Screen.drawRectangle 4
	pop temp 0
	push constant 0
	return
